<div class="container mt-3">
    <h3>Carnet d'Ordres</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbole</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Type</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.symbol }}</td>
          <td>{{ order.price }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.type }}</td>
          <td>{{ order.timestamp }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  